<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>Proxy Web</title>
	<link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="./fonts/font-awesome.min.css">
	<link rel="stylesheet" href="./css/FPE-Gentella-form-elements-1.css">
	<link rel="stylesheet" href="./css/FPE-Gentella-form-elements.css">
	<link rel="stylesheet" href="./css/styles.css">
</head>

<body style="background-color:rgb(13, 17, 23)">
	<div class="col-10 col-sm-10 col-md-10 col-lg-10 offset-1 offset-sm-1 offset-md-1 offset-lg-1">
		<div class="container body">
			<div class="main_container">
				<div role="main" id="main_container">

					<form method="post" target="_self" class="row g-3">
						<div class="x_panel"
							style="background-color:rgb(22, 27, 34); border: 1px solid rgb(48, 54, 61)">

							<div class="row">
								
								<div class="col">
									<input type="text" class="form-control" id="target" name="target"
										placeholder="target-url" required="required">
								</div>
								<div class="col">
									<input type="text" class="form-control" id="description" name="description"
										placeholder="description" required="required">
								</div>
							</div>
							<br>
							<div class="col">
								<input type="reset" class="btn btn-primary" value="CLEAR"">
								<input type="submit" class="btn btn-success" id="add-submit" value="ADD">
							</div>
						</div>
						<script type="text/javascript" src="./js/additem.js"></script>
					</form>
					
					<form id="search-form">
						<div id="restable">
						</div>
						<div class="row">
							<input type="submit" class="btn btn-success" id="refresh-submit" value="Restart" />
						</div>
						
					</form>
					
					<script type="text/javascript" src="./js/table.js"></script>
					<script type="text/javascript" src="./js/status.js"></script>
					<script type="text/javascript" src="./js/restart.js"></script>
					<script type="text/javascript" src="./js/delete.js"></script>
				</div>

			</div>
		</div>
</body>

</html>